body, html{
  height:100%;
  font-family: 'Bebas Neue', cursive;
}

body{
  margin: 0px;
  background-color:rgb(85, 224, 171);
  font-size: 22px;
  background: url("assets/background.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

button{
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}

.title{
  padding:10px 12px;
  float:right;
  height:31px;
  background-color: #777;
}

.danceButton, .pairButton, .addDancerButton{
  padding:10px 12px;
  float:right;
  font-size: 22px;
  font-family: 'Bebas Neue', cursive;
  background-color: black;
  color: white;
}

.addDancerButton{
  background-color: white;
  color: black;
}

.topbar{
  height:52px;
  background-color: #555;
  font-family: 'Bebas Neue', cursive;
}

.dancer{
  position:absolute;
}

img {
  width:150px;
  height: auto;
}

.tacoNyan.gradient{
  transform: rotate(45deg);
}

.makeBig > img {
  width:300px;
  height:auto;
}